/* Utility classes */

/* Outside-In first */
/*

    - layout
    - box-model
    - visual-attributes
    - ty[phraphy-attributes
    - misc-attributes

*/

:root {

    /* default colors */
    --color-n0: #000000;
    --color-n1: #646964;
    --color-n3: #dcf5ff;

    --color-a1: #d77355;
    --color-a2: #e6c86e;
    --color-a3: #64b964;
    --color-a4: #508cd7;
    --color-a5: #55415f;
    
    /* default sizes */
    --size-a1: 1rem;
    --size-a2: 1.25rem;
    --size-a3: 1.5rem;

    --size-b1: 2rem;
    --size-b2: 2.25rem;
    --size-b3: 2.5rem;

    --size-c1: 3rem;
    --size-c2: 3.25rem;
    --size-c3: 3.5rem;

    /* default speeds */
    --speed-a1: 0.1s;
    --speed-a2: 0.2s;
    --speed-a3: 0.3s;

}


/* CSS reset */
* {

    box-sizing: border-box;
    text-rendering: optimizeSpeed;
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;

}

html,
body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;

}

/* == Layput == */
/* position */
.static {position: static;}
.fixed {position: fixed;}
.absolute {position: absolute;}
.relative {position: relative;}
.sticky {position: sticky;}
.initial {position: initial;}

.l-auto{left: auto;}
.r-auto{right: auto;}
.t-auto{top: auto;}
.b-auto{bottom: auto;}

.l-0{left: 0;}
.r-0{right: 0;}
.t-0{top: 0;}
.b-0{bottom: 0;}

.l-a{left: var(--size-a);}
.r-a{right: var(--size-a);}
.t-a{top: var(--size-a);}
.b-a{bottom: var(--size-a);}

.l-b{left: var(--size-b);}
.r-b{right: var(--size-b);}
.t-b{top: var(--size-b);}
.b-b{bottom: var(--size-b);}

.l-c{left: var(--size-c);}
.r-c{right: var(--size-c);}
.t-c{top: var(--size-c);}
.b-c{bottom: var(--size-c);}


/* float */
.fl-n {float: none;}
.fl-l {float: left;}
.fl-r {float: right;}

/* display */
.d-n {display: none;}
.d-b {display: block;}
.d-i {display: inline;}
.d-ib {display: inline-block;}
.d-if {display: inline-flex;}
.d-f {display: flex;}
.d-g {display: grid;}

/* flex */
.f-1 {flex: 1;}
.f-w {flex: wrap;}

/* order */
.o-f {order: -9999;}
.o-l {order: 9999;}
.o-0 {order: 0;}
.o-1 {order: 1;}
.o-2 {order: 2;}
.o-3 {order: 3;}
.o-4 {order: 4;}
.o-5 {order: 5;}
.o-6 {order: 6;}

/* flexbox */
/* align-content */
.fd-c {flex-direction: column;}
.fd-cr {flex-direction: column-reverse;}
.fd-r {flex-direction: row;}
.fd-rr {flex-direction: row-reverse;}
.fd-i {flex-direction: inherit;}

.ac-sa {align-content: space-around;}
.ac-sb {align-content: space-between;}
.ac-c {align-content: flex-start;}
.ac-c {align-content: center;}
.ac-c {align-content: flex-end;}

.ai-c {align-items: center;}
.ai-b {align-items: baseline;}
.ai-s {align-items:stretch;}
.ai-fs {align-items: flex-start;}
.ai-fe {align-items: flex-end;}

/* == Box-model == */
/* width */
.max-w-80ch {max-width: 80ch;}

.w-a1 {width:var(--size-a1)}
.w-a2 {width:var(--size-a2)}
.w-a3 {width:var(--size-a3)}

.w-b1 {width:var(--size-b1)}
.w-b2 {width:var(--size-b2)}
.w-b3 {width:var(--size-b3)}

.w-c1 {width:var(--size-c1)}
.w-c2 {width:var(--size-c2)}
.w-c3 {width:var(--size-c3)}

.h-a1 {width:var(--size-a1)}
.h-a2 {width:var(--size-a2)}
.h-a3 {width:var(--size-a3)}

.h-b1 {width:var(--size-b1)}
.h-b2 {width:var(--size-b2)}
.h-b3 {width:var(--size-b3)}

.h-b1 {width:var(--size-b1)}
.h-b2 {width:var(--size-b2)}
.h-b3 {width:var(--size-b3)}

/* margin */
.mg-auto {margin: auto;}
.mg-auto-lf {margin: 0 auto;}
.mg-auto-tb {margin: auto 0;}
.mg-auto-l {margin-left: auto;}
.mg-auto-r {margin-right: auto;}
.mg-auto-t {margin-top: auto;}
.mg-auto-b {margin-bottom: auto;}

.mg-a1 {margin: var(--size-a1);}
.mg-a1-lr {margin: 0 var(--size-a1);}
.mg-a1-tb {margin: var(--size-a) 0;}
.mg-a1-l {margin-left: var(--size-a1);}
.mg-a1-r {margin-right: var(--size-a1);}
.mg-a1-t {margin-top: var(--size-a1);}
.mg-a1-b {margin-bottom: var(--size-a1);}

.mg-a2 {margin: var(--size-a2);}
.mg-a2-lr {margin: 0 var(--size-a2);}
.mg-a2-tb {margin: var(--size-a2) 0;}
.mg-a2-l {margin-left: var(--size-a2);}
.mg-a2-r {margin-right: var(--size-a2);}
.mg-a2-t {margin-top: var(--size-a2);}
.mg-a2-b {margin-bottom: var(--size-a2);}

.mg-a3 {margin: var(--size-a3);}
.mg-a3-lr {margin: 0 var(--size-a3);}
.mg-a3-tb {margin: var(--size-a3) 0;}
.mg-a-l {margin-left: var(--size-a3);}
.mg-a3-r {margin-right: var(--size-a3);}
.mg-a3-t {margin-top: var(--size-a3);}
.mg-a3-b {margin-bottom: var(--size-a3);}

.mg-b1 {margin: var(--size-b1);}
.mg-b1-lr {margin: 0 var(--size-b1);}
.mg-b1-tb {margin: var(--size-a) 0;}
.mg-b1-l {margin-left: var(--size-b1);}
.mg-b1-r {margin-right: var(--size-b1);}
.mg-b1-t {margin-top: var(--size-b1);}
.mg-b1-b {margin-bottom: var(--size-b1);}

.mg-b2 {margin: var(--size-b2);}
.mg-b2-lr {margin: 0 var(--size-b2);}
.mg-b2-tb {margin: var(--size-b2) 0;}
.mg-b2-l {margin-left: var(--size-b2);}
.mg-b2-r {margin-right: var(--size-b2);}
.mg-b2-t {margin-top: var(--size-b2);}
.mg-b2-b {margin-bottom: var(--size-b2);}

.mg-b3 {margin: var(--size-b3);}
.mg-b3-lr {margin: 0 var(--size-b3);}
.mg-b3-tb {margin: var(--size-b3) 0;}
.mg-b-l {margin-left: var(--size-b3);}
.mg-b3-r {margin-right: var(--size-b3);}
.mg-b3-t {margin-top: var(--size-b3);}
.mg-b3-b {margin-bottom: var(--size-b3);}

.mg-c1 {margin: var(--size-c1);}
.mg-c1-lr {margin: 0 var(--size-c1);}
.mg-c1-tb {margin: var(--size-c1) 0;}
.mg-c1-l {margin-left: var(--size-c1);}
.mg-c1-r {margin-right: var(--size-c1);}
.mg-c1-t {margin-top: var(--size-c1);}
.mg-c1-b {margin-bottom: var(--size-c1);}

.mg-c2 {margin: var(--size-c2);}
.mg-c2-lr {margin: 0 var(--size-b2);}
.mg-c2-tb {margin: var(--size-c2) 0;}
.mg-c2-l {margin-left: var(--size-c2);}
.mg-c2-r {margin-right: var(--size-c2);}
.mg-c2-t {margin-top: var(--size-c2);}
.mg-c2-b {margin-bottom: var(--size-c2);}

.mg-c3 {margin: var(--size-c3);}
.mg-c3-lr {margin: 0 var(--size-c3);}
.mg-c3-tb {margin: var(--size-c3) 0;}
.mg-c-l {margin-left: var(--size-c3);}
.mg-c3-r {margin-right: var(--size-c3);}
.mg-c3-t {margin-top: var(--size-c3);}
.mg-c3-b {margin-bottom: var(--size-c3);}

/* padding */
.pd-a1 {padding: var(--size-a1);}
.pd-a1-lr {padding: 0 var(--size-a1);}
.pd-a1-tb {padding: var(--size-a1) 0;}
.pd-a1-l {padding-left: var(--size-a1);}
.pd-a1-r {padding-right: var(--size-a1);}
.pd-a1-t {padding-top: var(--size-a1);}
.pd-a1-b {padding-bottom: var(--size-a1);}

.pd-a2 {padding: var(--size-a2);}
.pd-a2-lr {padding: 0 var(--size-a2);}
.pd-a2-tb {padding: var(--size-a2) 0;}
.pd-a2-l {padding-left: var(--size-a2);}
.pd-a2-r {padding-right: var(--size-a2);}
.pd-a2-t {padding-top: var(--size-a2);}
.pd-a2-b {padding-bottom: var(--size-a2);}

.pd-a3 {padding: var(--size-a3);}
.pd-a3-lr {padding: 0 var(--size-a3);}
.pd-a3-tb {padding: var(--size-a3) 0;}
.pd-a3-l {padding-left: var(--size-a3);}
.pd-a3-r {padding-right: var(--size-a3);}
.pd-a3-t {padding-top: var(--size-a3);}
.pd-a3-b {padding-bottom: var(--size-a3);}

.pd-b1 {padding: var(--size-b1);}
.pd-b1-lr {padding: 0 var(--size-b1);}
.pd-b1-tb {padding: var(--size-b1) 0;}
.pd-b1-l {padding-left: var(--size-b1);}
.pd-b1-r {padding-right: var(--size-b1);}
.pd-b1-t {padding-top: var(--size-b1);}
.pd-b1-b {padding-bottom: var(--size-b1);}

.pd-b2 {padding: var(--size-b2);}
.pd-b2-lr {padding: 0 var(--size-b2);}
.pd-b2-tb {padding: var(--size-b2) 0;}
.pd-b2-l {padding-left: var(--size-b2);}
.pd-b2-r {padding-right: var(--size-b2);}
.pd-b2-t {padding-top: var(--size-b2);}
.pd-b2-b {padding-bottom: var(--size-b2);}

.pd-b3 {padding: var(--size-b3);}
.pd-b3-lr {padding: 0 var(--size-b3);}
.pd-b3-tb {padding: var(--size-b3) 0;}
.pd-b3-l {padding-left: var(--size-b3);}
.pd-b3-r {padding-right: var(--size-b3);}
.pd-b3-t {padding-top: var(--size-b3);}
.pd-b3-b {padding-bottom: var(--size-b3);}

/* list-style-type */
.lst-none {list-style-type: none;}
.lst-disk {list-style-type: disc;}
.lst-decimal {list-style-type: decimal;}

/* list-style-position */
.lsp-is {list-style-position: inside;}
.lsp-os {list-style-position: outside;}

/* == Visual-properties == */
/* color */
.cl-a1 {color: var(--color-a1);}
.cl-a2 {color: var(--color-a2);}
.cl-a3 {color: var(--color-a3);}
.cl-a4 {color: var(--color-a4);}
.cl-a5 {color: var(--color-a5);}

/* background */
.bg-a1 {background: var(--color-a1);}
.bg-a2 {background: var(--color-a2);}
.bg-a3 {background: var(--color-a3);}
.bg-a4 {background: var(--color-a4);}
.bg-a5 {background: var(--color-a5);}
.bg-a6 {background: var(--color-a6);}

/* outline */
.ol-auto {outline: auto;}

/* border style */
.bs-solid {border-style: solid;}
.bs-dashed {border-style: dashed;}
.bs-dotted {border-style: dotted;}
.bs-double {border-style: double;}
.bs-hidden {border-style: hidden;}

/* border-radius */
.br-a1 {border-radius: var(--size-a1);}
.br-a1 {border-radius: var(--size-a1);}
.br-a1 {border-radius: var(--size-a1);}

.br-a2 {border-radius: var(--size-a2);}
.br-a2 {border-radius: var(--size-a2);}
.br-a2 {border-radius: var(--size-a2);}

.br-a3 {border-radius: var(--size-a3);}
.br-a3 {border-radius: var(--size-a3);}
.br-a3 {border-radius: var(--size-a3);}

.br-a1 {border-radius: var(--size-a1);}
.br-a1 {border-radius: var(--size-a1);}
.br-a1 {border-radius: var(--size-a1);}

.br-a2 {border-radius: var(--size-a2);}
.br-a2 {border-radius: var(--size-a2);}
.br-a2 {border-radius: var(--size-a2);}

.br-a3 {border-radius: var(--size-a3);}
.br-a3 {border-radius: var(--size-a3);}
.br-a3 {border-radius: var(--size-a3);}

